NODE_PATH=./src

# React back-end port
PORT=30001

# React back-end URL
REACT_APP_APIURL=https://admin.api.mydomain.com

# URL image store service
REACT_APP_IMAGEURL=https://img.mydomain.com

# Theme academy|evorich
REACT_APP_TEMPLATE=academy
